@charset "UTF-8";
/**
 * Base
 * - Reset the browser
 */
body {
	margin: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::selection {
	background-color: var(--wp--custom--color--text-selection);
}

::-moz-selection {
	background-color: var(--wp--custom--color--text-selection);
}

p {
	margin: 0;
}

/**
 * Required Variables
 */
.screen-reader-text {
	/* Text meant only for screen readers. */
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	/* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: var(--wp--preset--color--background);
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: var(--wp--preset--color--background);
	display: block;
	font-size: var(--preset--font-size--normal);
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*
 * Alignments, loaded in the front-end only.
 */
body {
	margin: 0;
}

* {
	box-sizing: border-box;
}

.entry-content > *:not(:last-child):not(.wp-block-spacer),
*[class*="__inner-container"] > *:not(:last-child):not(.wp-block-spacer),
*[class*="__content"] > *:not(:last-child):not(.wp-block-spacer) {
	margin-bottom: var(--wp--custom--margin--vertical);
}

.wp-site-blocks {
	padding: 0 var(--wp--custom--margin--horizontal);
}

.wp-site-blocks > *:not(.wp-block-post-content):not(.wp-block-template-part),
.wp-site-blocks .wp-block-post-content > * {
	max-width: var(--wp--custom--width--default);
	margin-left: auto;
	margin-right: auto;
}

.wp-site-blocks .alignwide {
	width: var(--wp--custom--width--wide);
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.wp-site-blocks .alignfull {
	transform: translateX(calc(0px - var(--wp--custom--margin--horizontal)));
	width: calc(100% + (2 * var(--wp--custom--margin--horizontal)));
	max-width: calc(100% + (2 * var(--wp--custom--margin--horizontal)));
	margin-left: 0;
	margin-right: 0;
	box-sizing: content-box;
}

.wp-site-blocks .wp-block-template-part.alignfull {
	width: 100%;
	max-width: 100%;
}

.wp-site-blocks .wp-block-columns.alignfull {
	width: 100%;
	max-width: 100%;
}

.aligncenter {
	text-align: center;
}

.wp-site-blocks .alignleft {
	float: left;
	margin-right: 2em;
	max-width: 360px;
}

.wp-site-blocks .alignright {
	float: right;
	margin-left: 2em;
	max-width: 360px;
}

*[class*="-background-color"]:not(.has-text-color) {
	color: var(--wp--preset--color--background);
}

*[class*="-background-color"]:not(.has-text-color) a {
	color: var(--wp--preset--color--background);
}

/**
 * Elements
 * - Styles for basic HTML elemants
 */
a {
	cursor: pointer;
	color: var(--wp--style--color--link, var(--wp--preset--color--foreground));
	text-decoration: none;
	border-bottom: 1px solid transparent;
}

a:hover, a:focus {
	border-bottom-color: currentColor;
}

.entry-content a {
	border-bottom: 1px solid currentColor;
	text-decoration: none;
	transition: border-color 0.1s ease-out;
}

.entry-content a:hover, .entry-content a:focus {
	border-bottom-color: transparent;
}

.entry-content a:active {
	color: var(--wp--style--color--link, var(--wp--preset--color--primary));
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	border: var(--wp--custom--form--border--width) var(--wp--custom--form--border--style) var(--wp--custom--form--border--color);
	border-radius: var(--wp--custom--form--border-radius);
	color: var(--wp--custom--form--color--text);
	line-height: var(--wp--custom--line-height--body);
	padding: var(--wp--custom--form--padding);
	background: var(--wp--custom--form--color--background);
	box-shadow: var(--wp--custom--form--color--box-shadow);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: var(--wp--custom--form--color--text);
	border-color: var(--custom--form--color--border);
}

select {
	color: var(--wp--custom--colors--foreground);
	border: var(--wp--custom--form--border--width) solid var(--wp--custom--form--border--color);
	font-family: inherit;
	font-size: 100%;
}

textarea {
	width: 100%;
}

input[type=checkbox] + label {
	display: inline;
	margin-left: 0.5em;
	line-height: 1em;
}

/* Media captions */
figcaption,
.wp-caption,
.wp-caption-text {
	color: var(--wp--preset--color--foreground);
	font-size: var(--wp--preset--font-size--x-small);
	line-height: var(--wp--custom--line-height--body);
	margin-top: calc(0.5 * var(--wp--custom--margin--vertical));
	margin-bottom: var(--wp--custom--margin--vertical);
	text-align: center;
}

.alignleft figcaption,
.alignright figcaption, .alignleft
.wp-caption,
.alignright
.wp-caption, .alignleft
.wp-caption-text,
.alignright
.wp-caption-text {
	margin-bottom: 0;
}

/* WP Smiley */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/**
 * Button
 */
/*
	Extend button to match.
*/
.wp-site-blocks button,
.wp-site-blocks .button,
.wp-site-blocks input[type="submit"] {
	cursor: pointer;
	border-width: 0;
	text-decoration: none;
	color: var(--wp--custom--button--color--text);
	background-color: var(--wp--custom--button--color--background);
	font-weight: var(--wp--custom--button--font-weight);
	font-family: var(--wp--custom--button--font-family);
	font-size: var(--wp--custom--button--font-size);
	line-height: var(--wp--custom--button--line-height);
	border-radius: var(--wp--custom--button--border-radius);
	padding: var(--wp--custom--button--padding);
}

.wp-site-blocks button:not(.has-background):active,
.wp-site-blocks .button:not(.has-background):active,
.wp-site-blocks input[type="submit"]:not(.has-background):active {
	color: var(--wp--custom--button--color--hover-text);
	background-color: var(--wp--custom--button--color--hover-background);
}

.wp-site-blocks button:not(.has-background):hover, .wp-site-blocks button:not(.has-background):focus, .wp-site-blocks button:not(.has-background).has-focus,
.wp-site-blocks .button:not(.has-background):hover,
.wp-site-blocks .button:not(.has-background):focus,
.wp-site-blocks .button:not(.has-background).has-focus,
.wp-site-blocks input[type="submit"]:not(.has-background):hover,
.wp-site-blocks input[type="submit"]:not(.has-background):focus,
.wp-site-blocks input[type="submit"]:not(.has-background).has-focus {
	color: var(--wp--custom--button--color--hover-text);
	background-color: var(--wp--custom--button--color--hover-background);
}

/**
 * Block Options
 */
.wp-block-button {
	font-weight: var(--wp--custom--button--font-weight);
	font-family: var(--wp--custom--button--font-family);
	font-size: var(--wp--custom--button--font-size);
	line-height: var(--wp--custom--button--line-height);
}

.wp-block-button:not(.is-style-outline) .wp-block-button__link:not(.has-background):active {
	color: var(--wp--custom--button--color--hover-text);
	background-color: var(--wp--custom--button--color--hover-background);
}

.wp-block-button:not(.is-style-outline) .wp-block-button__link:not(.has-background):hover, .wp-block-button:not(.is-style-outline) .wp-block-button__link:not(.has-background):focus, .wp-block-button:not(.is-style-outline) .wp-block-button__link:not(.has-background).has-focus {
	color: var(--wp--custom--button--color--hover-text);
	background-color: var(--wp--custom--button--color--hover-background);
}

.wp-block-button.wp-block-button__link,
.wp-block-button .wp-block-button__link {
	cursor: pointer;
	border-width: 0;
	text-decoration: none;
	color: var(--wp--custom--button--color--text);
	background-color: var(--wp--custom--button--color--background);
	font-weight: var(--wp--custom--button--font-weight);
	font-family: var(--wp--custom--button--font-family);
	font-size: var(--wp--custom--button--font-size);
	line-height: var(--wp--custom--button--line-height);
	border-radius: var(--wp--custom--button--border-radius);
	padding: var(--wp--custom--button--padding);
}

.wp-block-button.is-style-outline {
	border: none;
}

.wp-block-button.is-style-outline.wp-block-button__link,
.wp-block-button.is-style-outline .wp-block-button__link {
	border: var(--wp--custom--button--border-width) solid currentcolor;
	padding: var(--wp--custom--button--padding);
}

.wp-block-button.is-style-outline.wp-block-button__link:not(.has-background),
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-background) {
	background: transparent;
}

.wp-block-button.is-style-outline.wp-block-button__link:not(.has-text-color),
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color) {
	color: var(--wp--custom--button--color--background);
}

.wp-block-button.is-style-outline.wp-block-button__link:not(.has-text-color):active, .wp-block-button.is-style-outline.wp-block-button__link.has-secondary-color:active,
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):active,
.wp-block-button.is-style-outline .wp-block-button__link.has-secondary-color:active {
	color: var(--wp--custom--button--color--background);
}

.wp-block-button.is-style-outline.wp-block-button__link:not(.has-text-color):hover, .wp-block-button.is-style-outline.wp-block-button__link:not(.has-text-color):focus, .wp-block-button.is-style-outline.wp-block-button__link:not(.has-text-color).has-focus, .wp-block-button.is-style-outline.wp-block-button__link.has-secondary-color:hover, .wp-block-button.is-style-outline.wp-block-button__link.has-secondary-color:focus, .wp-block-button.is-style-outline.wp-block-button__link.has-secondary-color.has-focus,
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):hover,
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color):focus,
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color).has-focus,
.wp-block-button.is-style-outline .wp-block-button__link.has-secondary-color:hover,
.wp-block-button.is-style-outline .wp-block-button__link.has-secondary-color:focus,
.wp-block-button.is-style-outline .wp-block-button__link.has-secondary-color.has-focus {
	color: var(--wp--custom--button--color--hover--background);
}

.wp-block-button.is-style-squared .wp-block-button__link {
	border-radius: 0;
}

p.has-background {
	padding: var(--wp--custom--margin--vertical) var(--wp--custom--margin--horizontal);
}

p.has-text-color a {
	color: var(--wp--style--color--link, var(--wp--preset--color--primary));
}

.wp-block-navigation a {
	border-bottom: none;
}

.wp-block-navigation .wp-block-navigation-link {
	padding: 0;
}

.wp-block-navigation .wp-block-navigation-link .wp-block-navigation-link__content {
	padding: var(--wp--custom--navigation--padding);
}

.wp-block-navigation .wp-block-navigation-link__submenu-icon {
	padding: 0;
}

.wp-block-navigation .wp-block-navigation__container .wp-block-navigation-link {
	color: var(--wp--custom--navigation--color--text);
	background-color: var(--wp--custom--navigation--color--background);
}

.wp-block-navigation .wp-block-navigation__container .wp-block-navigation-link :hover {
	color: var(--wp--custom--navigation--color--hover-text);
	background-color: var(--wp--custom--navigation--color--hover-background);
}

.wp-block-navigation .wp-block-navigation__container .has-child .wp-block-navigation-link__container {
	padding: 0;
	border-radius: var(--wp--custom--navigation--submenu--border--radius);
	border-style: var(--wp--custom--navigation--submenu--border--style);
	border-width: var(--wp--custom--navigation--submenu--border--width);
	border-color: var(--wp--custom--navigation--submenu--border--color);
	color: var(--wp--custom--navigation--submenu--color--text);
	background-color: var(--wp--custom--navigation--submenu--color--background);
}

.wp-block-navigation .wp-block-navigation__container .has-child .wp-block-navigation-link__container :hover {
	color: var(--wp--custom--navigation--submenu--color--hover-text);
	background-color: var(--wp--custom--navigation--submenu--color--hover-background);
}

.wp-block-navigation .wp-block-navigation__container .has-child .wp-block-navigation-link__container .wp-block-navigation-link__content {
	padding: var(--wp--custom--navigation--submenu--padding);
}

/*
 * Components
 * - Similar to Blocks but exist outside of the "current" editor context
 */
/**
 * Content
 */
/**
 * Entry Content
 */
.entry-content p {
	word-wrap: break-word;
}

.entry-content .more-link {
	display: table;
	margin-top: var(--wp--custom--margin--vertical);
}

.entry-content .more-link:after {
	content: "→" /*rtl:"←"*/;
	display: inline-block;
	margin-left: 0.5em;
}

.entry-content .more-link:hover {
	text-decoration: none;
}

.entry-content > iframe[style] {
	margin: var(--wp--custom--margin--vertical) 0 !important;
	max-width: 100% !important;
}

.home.page.hide-homepage-header.hide-homepage-title .entry-content {
	margin-top: 0;
	padding-top: 0;
}

.home.page.hide-homepage-header.hide-homepage-title .entry-content > .wp-block-image.alignfull:first-child,
.home.page.hide-homepage-header.hide-homepage-title .entry-content > .wp-block-cover.alignfull:first-child,
.home.page.hide-homepage-header.hide-homepage-title .entry-content > .wp-block-media-text.alignfull:first-child,
.home.page.hide-homepage-header.hide-homepage-title .entry-content > .wp-block-group.has-background.alignfull:first-child {
	margin-top: calc(-1 * var(--wp--custom--margin--vertical));
}

.entry-attachment {
	text-align: center;
}

/**
 * Author
 */
/* Author description */
.entry-author {
	font-size: var(--wp--preset--font-size--x-small);
}

.entry-author .author-avatar {
	display: none;
}

.site-main > article > .entry-author {
	margin-top: calc(2 * var(--wp--preset--margin--vertical));
}

.entry-author .author-title {
	font-family: var(--wp--preset--font-family--headings);
	font-size: var(--wp--preset--font-size--x-small);
}

.entry-author .author-title .author-name {
	display: block;
	margin-top: 4px;
	font-family: var(--wp--preset--font-family--base);
	font-size: var(--wp--preset--font-size--small);
}

.entry-author .author-bio {
	font-size: var(--wp--preset--font-size--normal);
}

.entry-author .author-link::before {
	content: '';
	display: block;
}

/* Next/Previous navigation */
.navigation {
	color: var(--wp--preset--color--foreground);
}

.navigation a {
	color: var(--wp--preset--color--primary);
}

.navigation a:hover {
	color: var(--wp--preset--color--secondary);
	border-color: var(--wp--preset--color--tertiary);
}

.navigation a:focus {
	color: var(--wp--preset--color--secondary);
}

.navigation a:active {
	color: var(--wp--preset--color--primary);
}

@media only screen and (min-width: 482px) {
	.navigation .nav-links {
		display: flex;
		justify-content: space-between;
	}
	.navigation .nav-links .nav-next,
	.navigation .nav-links .nav-previous {
		flex: 0 1 auto;
		margin-bottom: inherit;
		margin-top: inherit;
		max-width: calc(50% - (0.5 * var(--wp--custom--margin--horizontal)));
	}
	.navigation .nav-links .nav-next {
		text-align: right;
	}
}

.navigation .svg-icon {
	display: inline-block;
	fill: currentColor;
	vertical-align: middle;
}

.post-navigation .meta-nav {
	font-size: var(--wp--preset--font-size--x-small);
	line-height: var(--wp--custom--line-height--body);
	color: var(--wp--preset--color--foreground);
}

.post-navigation .post-title {
	font-family: var(--wp--preset--font-family--headings);
	font-size: var(--wp--preset--font-size--large);
	line-height: var(--wp--custom--line-height--headings);
}

@media only screen and (min-width: 482px) {
	.post-navigation .nav-links {
		justify-content: space-between;
	}
}

.post-navigation .nav-next,
.post-navigation .nav-previous {
	margin-top: var(--wp--custom--margin--vertical);
	margin-bottom: var(--wp--custom--margin--vertical);
}

.post-navigation .nav-next:first-child,
.post-navigation .nav-previous:first-child {
	margin-top: 0;
}

.post-navigation .nav-next:last-child,
.post-navigation .nav-previous:last-child {
	margin-bottom: 0;
}

.pagination .nav-links > * {
	margin-left: calc(0.66 * var(--wp--custom--margin--vertical));
	margin-right: calc(0.66 * var(--wp--custom--margin--vertical));
}

.pagination .nav-links > *.current {
	border-bottom: 1px solid var(--wp--preset--color--primary);
}

.pagination .nav-links > *:first-child {
	margin-left: 0;
}

.pagination .nav-links > *:last-child {
	margin-right: 0;
}

.pagination .nav-links > *.next {
	margin-left: auto;
}

.pagination .nav-links > *.prev {
	margin-right: auto;
}

/**
 * Comments Wrapper
 */
.comments-area > * {
	margin-top: var(--wp--custom--margin--vertical);
	margin-bottom: var(--wp--custom--margin--vertical);
}

.comments-area > *:first-child {
	margin-top: 0;
}

.comments-area > *:last-child {
	margin-bottom: 0;
}

/**
 * Comment Title
 */
.comment-reply-title {
	display: flex;
	justify-content: space-between;
}

.comment-reply-title small a {
	border-bottom: none;
	color: currentColor;
	font-family: var(--wp--preset--font-family--headings);
	font-size: var(--wp--preset--font-size--x-small);
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
}

/**
 * Comment Lists
 */
.comment-list {
	padding-left: 0;
	list-style: none;
}

.comment-list > li {
	margin-top: var(--wp--custom--margin--vertical);
	margin-bottom: var(--wp--custom--margin--vertical);
}

.comment-list > li:not(first-child) {
	border-bottom: 1px solid var(--wp--preset--color--primary);
}

.comment-list .children {
	list-style: none;
	padding-left: var(--wp--custom--margin--horizontal);
}

.comment-list .children > li {
	border-top: 1px solid var(--wp--preset--color--primary);
	margin-top: var(--wp--custom--margin--vertical);
	margin-bottom: var(--wp--custom--margin--vertical);
}

@media only screen and (min-width: 482px) {
	.comment-list .children {
		padding-left: calc(2 * var(--wp--custom--margin--horizontal));
	}
}

/**
 * Comment Meta
 */
.comment-meta .comment-author {
	line-height: var(--wp--custom--line-height--body);
	margin-bottom: calc(0.25 * var(--wp--custom--margin--vertical));
	padding-right: calc(2.5 * var(--wp--custom--margin--horizontal));
	max-width: calc(100% - (3 * var(--wp--custom--margin--horizontal)));
}

@media only screen and (min-width: 482px) {
	.comment-meta .comment-author {
		margin-bottom: 0;
		padding-right: 0;
	}
}

.comment-meta .comment-author .fn {
	font-family: var(--wp--preset--font-family--headings);
	font-weight: normal;
	font-size: var(--wp--preset--font-size--x-small);
	hyphens: auto;
	padding-left: 60px;
	word-wrap: break-word;
	word-break: break-word;
}

.comment-meta .comment-author .avatar {
	border: 2px solid var(--wp--preset--color--primary);
	border-radius: 50%;
	position: absolute;
	top: 5px;
}

.comment-meta .comment-metadata {
	color: var(--wp--preset--color--foreground);
	font-size: var(--wp--preset--font-size--x-small);
	padding-left: 60px;
}

.comment-meta .comment-metadata a {
	border-bottom: none;
	color: currentColor;
}

.comment-meta .comment-metadata a:hover, .comment-meta .comment-metadata a:focus {
	color: var(--wp--custom--button--color--hover-background);
}

.comment-meta .comment-metadata a:active {
	color: currentColor;
}

.comment-meta .comment-metadata .edit-link {
	float: right;
}

@media only screen and (min-width: 482px) {
	.comment-meta {
		margin-right: inherit;
	}
	.comment-meta .comment-author {
		max-width: inherit;
	}
}

.reply {
	font-size: var(--wp--custom--font-size--small);
	line-height: var(--wp--custom--line-height--headings);
}

.reply a {
	cursor: pointer;
	border-width: 0;
	text-decoration: none;
	color: var(--wp--custom--button--color--text);
	background-color: var(--wp--custom--button--color--background);
	font-weight: var(--wp--custom--button--font-weight);
	font-family: var(--wp--custom--button--font-family);
	font-size: var(--wp--custom--button--font-size);
	line-height: var(--wp--custom--button--line-height);
	border-radius: var(--wp--custom--button--border-radius);
	padding: var(--wp--custom--button--padding);
}

.reply a:not(.has-background):active {
	color: var(--wp--custom--button--color--hover-text);
	background-color: var(--wp--custom--button--color--hover-background);
}

.reply a:not(.has-background):hover, .reply a:not(.has-background):focus, .reply a:not(.has-background).has-focus {
	color: var(--wp--custom--button--color--hover-text);
	background-color: var(--wp--custom--button--color--hover-background);
}

.reply {
	text-align: right;
}

@media only screen and (min-width: 482px) {
	.reply {
		text-align: left;
	}
}

.bypostauthor {
	display: block;
}

.says {
	display: none;
}

.pingback .url,
.trackback .url {
	font-family: var(--wp--preset--font-family--base);
}

.comment-body {
	position: relative;
}

.comment-body > * {
	margin-top: var(--wp--custom--margin--vertical);
	margin-bottom: var(--wp--custom--margin--vertical);
}

.comment-body .reply {
	margin: calc(1.5 * var(--wp--custom--margin--vertical)) 0;
}

.comment-content a {
	word-wrap: break-word;
}

.pingback .comment-body,
.trackback .comment-body {
	margin-top: var(--wp--custom--margin--vertical);
	margin-bottom: var(--wp--custom--margin--vertical);
}

.comment-respond {
	margin-top: var(--wp--custom--margin--vertical);
}

.comment-respond > * {
	margin-top: var(--wp--custom--margin--vertical);
	margin-bottom: var(--wp--custom--margin--vertical);
}

.comment-respond > *:first-child {
	margin-top: 0;
}

.comment-respond > *:last-child {
	margin-bottom: 0;
}

.comment-respond > *:last-child.comment-form {
	margin-bottom: var(--wp--custom--margin--vertical);
}

.comment-author {
	padding-top: 3px;
}

.comment-author .url {
	border-bottom: none;
	color: currentColor;
}

.comment-form {
	display: flex;
	flex-wrap: wrap;
}

.comment-form > * {
	flex-basis: 100%;
}

.comment-form .comment-notes {
	font-size: var(--wp--preset--font-size--small);
}

.comment-form .comment-form-url,
.comment-form .comment-form-comment {
	width: 100%;
}

.comment-form .comment-form-author,
.comment-form .comment-form-email {
	flex-basis: 0;
	flex-grow: 1;
}

.comment-form .comment-form-cookies-consent > label,
.comment-form .comment-notes {
	font-size: var(--wp--preset--font-size--x-small);
}

.comment-form > p {
	margin-bottom: var(--wp--custom--margin--vertical);
}

.comment-form > p:first-of-type {
	margin-top: 0;
}

.comment-form > p:last-of-type {
	margin-bottom: 0;
}

.comment-form > p label,
.comment-form > p input[type="email"],
.comment-form > p input[type="text"],
.comment-form > p input[type="url"],
.comment-form > p textarea {
	display: block;
	font-size: var(--wp--preset--font-size--small);
	margin-bottom: calc( .5 * var(--wp--custom--margin--vertical));
	width: 100%;
}

.comment-form > p.comment-form-cookies-consent {
	display: flex;
}

@media only screen and (min-width: 482px) {
	.comment-form > p.comment-form-author {
		margin-right: calc( 1.5 * var(--wp--custom--margin--horizontal));
	}
	.comment-form > p.comment-notes, .comment-form > p.logged-in-as {
		display: block;
	}
}

.comment-navigation a {
	font-family: var(--wp--preset--font-family--base);
	font-size: var(--wp--preset--font-size--normal);
	font-weight: 600;
}

.widget-area {
	flex: 0 0 100%;
}

.search-form {
	display: flex;
	margin: auto;
}

.search-form > label {
	display: flex;
	margin-right: var(--wp--custom--margin--horizontal);
	width: 100%;
}

.search-form > label .search-field {
	width: 100%;
}

/* Utilities */
img#wpstats {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	padding: 0 !important;
	border: 0 !important;
	height: 0 !important;
	width: 0 !important;
	overflow: hidden;
}

/*# sourceMappingURL=ponyfill.css.map */