// All Links styles

a {
	cursor: pointer;
	color: var( --wp--style--color--link, var(--wp--preset--color--foreground) );
	text-decoration: none;
	border-bottom: 1px solid transparent;

	&:hover,
	&:focus {
		border-bottom-color: var( --wp--style--color--link, var(--wp--preset--color--foreground) );
	}
}

// Links that are in the content
.entry-content a {
	border-bottom: 1px solid var( --wp--style--color--link, var(--wp--preset--color--foreground) );
	text-decoration: none;
	transition: border-color 0.1s ease-out;

	&:hover,
	&:focus {
		border-bottom-color: transparent;
	}

	&:hover {
		color: var(--wp--preset--color--primary);
	}

	&:focus {
		color: var(--wp--preset--color--primary);
	}

	&:active {
		color: var( --wp--style--color--link, var(--wp--preset--color--primary) );
	}

	// If a custom link color has been assigned,
	// switch the color of the bottom border too.
	.has-link-color & {
		border-bottom: 1px solid var( --wp--style--color--link, var(--wp--preset--color--primary) );

		&:hover,
		&:focus {
			border-bottom-color: transparent;
		}
	}
}
